<a href="https://colab.research.google.com/github/Shai670/Residential_consumption_modeling/blob/main/Solar_PV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np

In [3]:
!git clone https://github.com/Shai670/Residential_consumption_modeling

Cloning into 'Residential_consumption_modeling'...
remote: Enumerating objects: 29, done.
remote: Counting objects: 100% (29/29), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 29 (delta 6), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (29/29), 433.30 KiB | 5.04 MiB/s, done.

In [5]:
pv = pd.read_csv('/content/Residential_consumption_modeling/DATA/PV_1.5.csv', index_col='time')
pv

                             AC
time
2021-01-01 00:00:00   -0.450000
2021-01-01 01:00:00   -0.450000
2021-01-01 02:00:00   -0.450000
2021-01-01 03:00:00  112.589920
2021-01-01 04:00:00  279.839965
...                         ...
2021-12-31 19:00:00   -0.450000
2021-12-31 20:00:00   -0.450000
2021-12-31 21:00:00   -0.450000
2021-12-31 22:00:00   -0.450000
2021-12-31 23:00:00   -0.450000

[8760 rows x 1 columns]

In [22]:
df = pd.DataFrame(index=pd.date_range(start='2021-01-01', end='2021-12-31', freq='MIN'))
df['load'] = np.random.rand(len(df))
df

                         load
2021-01-01 00:00:00  0.885426
2021-01-01 00:01:00  0.879138
2021-01-01 00:02:00  0.255247
2021-01-01 00:03:00  0.655720
2021-01-01 00:04:00  0.404964
...                       ...
2021-12-30 23:56:00  0.022160
2021-12-30 23:57:00  0.459721
2021-12-30 23:58:00  0.193965
2021-12-30 23:59:00  0.931812
2021-12-31 00:00:00  0.536970

[524161 rows x 1 columns]